.task-item {
  padding: 12px 15px;
  border-bottom: 1px solid #a5b1c2;
  text-align: left;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item:hover {
  background-color: #f1f2f6;
}

.task-left {
  display: flex;
  cursor: pointer;
}

.task-item-complete {
  text-decoration: line-through;
  color: #a5b1c2;
}

.complete-button {
  color: #a5b1c2;
  margin-right: 15px;
  cursor: pointer;
}

.fa-circle-xmark {
  color: #ea8685;
  cursor: pointer;
  margin-left: 15px;
}

.fa-circle-xmark:hover {
  filter: brightness(95%);
}

.fa-circle-xmark:active {
  filter: brightness(90%);
}
